<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/show.css" />
    <title><%= book.title %></title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
        <h1><%= book.title %> by <%= book.author %></h1>
        <p><b>Summary</b></p> 
        <p><%= book.summary %></p>    
        <p> <b>Discussion Date:</b> <%= book.discussionDate %></p>   
        <% if (user.role === 'admin') { %> 
        <a href="/books/<%= book._id %>/edit"> Edit Book </a>
        <br>
        <br>
        <form action="/books/<%= book._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Book</button>
        <% } else { %>
            <a href="/books">Back To Your Club's Books</a>
            <% } %>
        </form>
  </body>

</html>